.c-blog-hl-wrapper--one {
    width: 100%;
    padding-bottom: 56.25%;
    border-radius: 1rem;
    margin-bottom: 12px;
  }
  .c-blog-hl-wrapper--one {
    overflow: hidden;
    position: relative;
    background-color: var(--color-primary-black10);
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .c-blog-hl-image {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .c-blog-hl-image-helper {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    -webkit-filter: opacity(0.45) blur(16px);
    filter: opacity(0.45) blur(16px);
  }
  .c-blog-highlight__date {
    font-family: 'Avenir Book';
    font-weight: 900;
    color: #727272;
  }
  .c-blog-highlight__title {
    margin-bottom: 8px;
    color: #101820;
    overflow: hidden;
    word-break: break-word;
    font-family: 'Avenir Book';
    font-weight: 900;
  }
  @media (min-width: 768px) {
    .c-blog-highlight__title {
      font-size: 26px;
      line-height: 39px;
      letter-spacing: 0;
    }
  }
  @supports (-webkit-line-clamp: 3) {
    .c-blog-highlight__title {
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
  .c-list-grid-item {
    margin-bottom: 24px;
    margin-right: 0 !important;
  }
  .c-list-grid-item > a {
    display: block;
  }
  @media (min-width: 768px) {
    .c-list-grid-item {
      margin-right: 2rem !important;
    }
    .c-list-grid-item:nth-child(3n) {
      margin-right: 0 !important;
    }
    .c-list-grid-item:nth-last-child(-n + 3) {
      margin-bottom: 0 !important;
    }
  }
  @media (min-width: 768px) {
    .c-list-grid-item {
      margin-bottom: 40px;
    }
  }
  .o-row {
    margin-right: 0;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .o-row--slider__col-3 {
    width: 100%;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
  @media screen and (min-width: 768px) {
    .o-row--slider__col-3 {
      width: calc(33.33333% - 1.33333rem);
      margin-right: 2rem;
      margin-bottom: 1rem;
    }
    .o-row--slider__col-3:nth-child(3n) {
      margin-right: 0;
    }
  }
  .o-row--slider__col-3 a {
    text-decoration: none;
  }
  